<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-1.10.2.js}"></script>
<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>



<script>
    var basePath= '[[${basePath}]]';

    let _ajax = $.ajax;
    $.ajax = function (opt) {
        return _ajax(opt);
    };

</script>
</html>